  <div class="row">
    <div class="col-md-12">
      <div class="exchange-rate" ng-controller="xchangeCtrl">
        <div ng-show="loading" class="loading"></div>
        <h3>Exchange Rate <span class="small"> {{create | date}}</span></h3>
        <br>
        <div class="row">
          <div class="col-md-12">

            <table class="table">
              <thead>
                <tr>
                  <th ng-repeat="x in rate">{{x.Name}}</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td ng-repeat="x in rate">{{x.Rate | currency}}</td>
                </tr>
              </tbody>
            </table>
            </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h4>Currency Calculator</h4>
            <form  class="form-inline">
              <div class="form-group">
                <select ng-model="xchangeFilter" class="form-control selectWidth" id="sel1">
                  <option ng-repeat="x in rate" value="{{x.Rate}}">{{x.Name}}</option>
                </select>
              </div>
              <input class="form-control" type="number" ng-model="xchangeInput">
              <span class="total-exchange">{{xchangeInput * xchangeFilter | currency}}</span>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h3>Stock Price</h3>
      <div class="slick-content">
        <div class="stock-slider">
          <div ng-controller="LineCtrlApple">
            <div ng-show="loading" class="loading"></div>
            <h4>{{series[0]}}
              <span class="small"> {{openData[0] - closeData[0] | number:2}}</span>
            </h4>
            <canvas id="line" chart-colours="colours" class="chart chart-line" chart-data="data"
            chart-labels="labels" chart-legend="false" chart-series="series" chart-options="options"></canvas>
          </div>
          <div ng-controller="LineCtrlGoogle">
            <div ng-show="loading" class="loading"></div>
            <h4>{{series[0]}}
              <span class="small"> {{openData[0] - closeData[0] | number:2}}</span>
            </h4>
            <canvas id="line" chart-colours="colours" class="chart chart-line" chart-data="data"
            chart-labels="labels" chart-legend="false" chart-series="series" chart-options="options"></canvas>
          </div>
          <div ng-controller="LineCtrlAmazon">
            <div ng-show="loading" class="loading"></div>
            <h4>{{series[0]}}
              <span class="small"> {{openData[0] - closeData[0] | number:2}}</span>
            </h4>
            <canvas id="line" chart-colours="colours" class="chart chart-line" chart-data="data"
            chart-labels="labels" chart-legend="false" chart-series="series" chart-options="options"></canvas>
          </div>
          <div ng-controller="LineCtrlYahoo">
            <div ng-show="loading" class="loading"></div>
            <h4>{{series[0]}}
              <span class="small"> {{openData[0] - closeData[0] | number:2}}</span>
            </h4>
            <canvas id="line" chart-colours="colours" class="chart chart-line" chart-data="data"
            chart-labels="labels" chart-legend="false" chart-series="series" chart-options="options"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="fin-news" ng-controller="financeNewsCtrl">
        <div ng-show="loading" class="loading"></div>
        <h3>Latest News</h3>
        <div class="row">
          <div class="articleFeed clearfix" ng-repeat="x in financeNews">

            <div class="col-md-3">
              <img class="img-responsive" src="{{ x.image }}" alt="" />
            </div>
            <div class="col-md-9">
              <h4>{{ x.title }}</h4>
              <p>
                <span class="text-muted">{{ x.post_date | date : "fullDate" }} | {{ x.author}} | <i class="fa fa-share-alt" aria-hidden="true"> {{ x.shares.total}}</i></span>
              </p>
              <p>{{ x.content.plain | limitTo:180}} ...</p>
              <p><a href="{{x.link}}" target="_blank"><i class="fa fa-arrow-circle-right fa-fw" aria-hidden="true"></i>Read More</a></p>
            </div>
          </div>

        </div>

      </div>

    </div>
  </div>
